#frame{
	width:90%;
	margin:auto;
	background-color:#fff;
}

#banner, #w3c{
	background-color:#333;
	color:#fff;	
	padding:10px;
}

#main{
text-align:center;
}

body{
background-color:#dad9d4;
font-family: Verdana, Geneva, sans-serif;
}

fieldset{
	width:340px;
	margin:auto;
	margin-bottom:20px;
}
legend{
	text-align:left;
}

table{
	margin:auto;
}
tr:nth-child(odd){background-color: #f2f2f2}



